*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Oswald', sans-serif;
    overflow-x: hidden ;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger img{
    width: 30px;
    height: 30px;
   
}
.my-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mycol-5{
    width: 50%;
    
}
.mycol-5 img{
    width: 100%;
    height: auto !important;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
}
.col-2 img{
    max-width: 100%;
    padding: 0% 0;
    margin-top: -380px;
    margin-left: 450px;
}
.col-2 h1,.hero-heading{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    margin-left: 10px;

}
.col-2 p,.hero-para{
    margin-left: 10px;

}
.btn{
    display: inline-block;
    background:#03989E;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    margin-left: 10px;
}

.btn :hover{
    background:#120833 ;
}
.header{
    background: radial-gradient(#fff,#03989E);
}

.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}
.col-3{
    padding-right: 25px;
    padding-left: 25px;
}
.smallcontainer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s 
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;

}
.title::after{
    content: '';
    background:#03989E ;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:scaleX(-50);
}

.col-4:hover{
    transform: translateY(-5px);
}
.offer img{
    margin: auto;
    /* margin-left: -100px */
    
}
.offer{
    background: radial-gradient(#fff,#03989E);
    margin-top: 80px;
    padding: 30px 0;

}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px 0 20px;

}
.footer p{
    color: #8a8a8a;

}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1 , .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-2{
    flex: 1;
    text-align: center;

}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;


}
.footer-col-3 , .footer-col-4{
    flex-basis: 12% ;
    text-align: center;
}

ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;

}
.app-logo img{
    width: 140px;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
nav ul{
    transition: all .3s ease-in;
}
@media(max-width:1000px){
    .hero-heading{
        font-size: 40px;
    }
}

@media only screen and (max-width: 800px){
    .my-row{
        flex-direction: column;
        align-items: center;
    }
    .mycol-5{
        display: contents;
    }
    nav ul{
        position: absolute;
        top: 100px;
        left: 0; 
        
        width: 100%;
        overflow: hidden;
       height: 0px;
       z-index: 2;
    
    }
    nav ul li{
        z-index: 2;
    }
    nav ul::before{
position: absolute;
content: "";
width: 100%;
height: 100%;
top:0;
left: 0;
background: #333;
z-index: -1;
opacity: 0.5;
    }
    .hamburger{
        display: block;
    }
   
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menuicon{
        display: block;
        cursor: pointer;
    }
    
}
@media(max-width:900px){
    .row{
        flex-direction: column;
        text-align: center;
    }
}
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #028573;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #028573;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #028573;
    color: #fff;
}

.col-5 img{
    max-width: 60%;
    padding: 25px;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 25px;
}

.single-product{
    margin-top: 80px;
}
.single-product .col-4 img{
    padding: 0;

}
.single-product .col-4{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 23px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #028573;
}

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    background: #03989E;
    font-weight: normal;
}

td{
    padding: 10px 5x;

}

td input{
    width: 40px;
    height: 30px;
    pad: 5px;
}
td a{
    color:#03989E;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right:10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;

}

.total-price table{
    border-top: 3px solid #03989E ;
    width: 100%;
    max-width: 350px;
}

td:last-child{
    text-align: right;

}

th:last-child{
    text-align: right;
}

.account-page{
    padding: 50px 0;
    background:radial-gradient(#fff,#03989E) ;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba (0,0,0,0.1) ;
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding:0 10px ;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;

}
.form-container form{

    max-width: 300px;
    padding:0 20px ;
    position: absolute;
    top: 130px;
    transition: transform 1s;


}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;

}
form .btn:focus{
    outline: none;
}

#LoginForm{
    left: -300px;

}

#RegisterForm{
    left: 0;
}

form a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: #03989E;
    height: 3px;
    margin-top: 8px;
    transform: translate(100px);
    transition: transform 1s;
}